aiohttp~=3.5.4
aiohttp-apispec~=1.1.2
aiohttp-cors~=0.7.0
base58
chardet==3.0.4
idna==2.8
idna-ssl==1.1.0
Jinja2==2.10.1
marshmallow==3.0.0rc3
msgpack>=0.6.1<0.7
numpy==1.17.0
Pillow==6.1.0
pysodium>=0.7.1<0.8
RTIMULib==7.2.1
sense-hat==2.2.0
